/****** BASE STYLES ******/

@font-face {
font-family: Wisdom-Script;
src: url('Wisdom-Script.otf') format('opentype');
}

body {
  font-family: "Montserrat";
  width: 100%;
  margin: 0 auto;
}

/****** GRID ******/

.full-width {
  width: 100%;
  margin: 0 auto;
}

.half-width {
  width: 50%;
  float: left;
}

.third-width {
  width: 33%;
  float: left;
}

.third-width .reviews {
  display: inline-flex;
}


.color {
  color: #77a466;
}

.fancy {
  font-family: 'Wisdom-Script';
}

/****** HEADER ******/

header {
  height: 100px;
  text-transform: uppercase;
  border-bottom: 2px solid #77a466;
}

header h1 {
  font-weight: normal;
  padding-top: 10px;
  padding-left: 10px;
}

nav {
  float: right;
}

nav ul li {
  display: inline-block;
  padding-top: 25px;
  padding-right: 20px;
  font-size: 14px;
  font-weight: bold;
  }

/****** ABOUT ******/

#top-section img {
  width: 100%;
  border-bottom: 2px solid #77a466;
}

#top-section h3 {
  text-transform: uppercase;
  height: 30px;
  font-size: 18px;
  padding-left: 10px;
}

#top-section p {
  font-size: 14px;
  font-weight: 500;
  height: 100px;
  line-height: 25px;
  padding-left: 10px;
}
/****** WORK ******/

#bottom-section {
  border-top: 1px solid #dedbdc;
}
.specials {
  border-right: 1px solid #dedbdc;
}

.specials h5 {
  padding-left: 10px;
}

.specials ul {
  list-style: none;
  font-size: 16px;
  line-height: 35px;
  padding-left: 10px;
}

.reviews h5 {
  padding-left: 10px;
}

.reviews p {
  font-size: 16px;
  padding-left: 10px;
}

.contact {
  height: 100%;
  border-left: 1px solid #dedbdc;
}

.contact h5 {
  padding-left: 10px;
}

.contact p {
  font-size: 16px;
  line-height: 20px;
  padding-left: 10px;
}

/****** CONTACT ******/

footer {
  border-top: 1px solid #dedbdc;
  height: 80px;
  clear: both;
  text-align: center;
}
